.clientCard{
    background-color: rgb(255, 255, 255);
    height: 40vh;
}

.alinharclient{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.alinhartext{
    margin-left: 1%;
    width: 30vw;
    height: fit-content;
}

.alinhartext h3{
    color: #D37231;
    font-family: Roboto;
    font-weight: 600;
}

.clientImg{
    height: 25vh;
    width:fit-content;
}

span.carousel-control-next-icon {
    background-color: #D37231
}
span.carousel-control-prev-icon {
    background-color: #D37231
}

@media (min-width: 768px) and (max-width: 1023px) {
 



}

@media  (max-width:767px){

    .clientetitulo{
        font-size: 10%;
    }


    .clientCard{
        margin-bottom: 5%;
    }
}