.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    
}

.user_options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 23vw;
}

.logout{
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: transparent;
}

.logout a{
    text-decoration: none;
    color: white;
}

.circle1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #171723;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.circle2{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #262638;
    display: flex;
    align-items: center;
    justify-content: center;      
}

.perfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: rgb(10, 10, 10);
    background-color: #F7F6F5;
    font-family: Roboto regular ;
    
}

.letters{
    text-align: center;
    margin-top:20%;
    
}

.welcome_text{
    padding-top: 12px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .user_options{
        width: 35vw;
        display: flex;
    }

    .circle1{
        width: 80px;
        height: 80px;
    }

    .circle2{
        width: 65px;
        height: 65px;  
    }


    .perfil{
        width: 50px;
        height: 50px;
    } 

}

@media (max-width:767px) {
    .user_autenticado{
        width: 60vw;
    }

    .user_options{
        width: 60vw;
        /* height:20vh; */
    }

    .welcome_text p{ 
        text-overflow: ellipsis; 
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical; 
        overflow-y: hidden;

    }

    /* .circle1{
        display: none;
    } */

}